/*Шрифты*/
@font-face {
    font-family: "Exo 2.0";
    src: url("../fonts/Exo2.0-Thin.eot");
    src: local("☺"), url("../fonts/Exo2.0-Thin.woff") format("woff"), url("../fonts/Exo2.0-Thin.ttf") format("truetype"),
        url("../fonts/Exo2.0-Thin.svg") format("svg");
    font-weight: 100;
    font-style: normal;
}
/*--------------------*/
